<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  # Serve index.html for any request that is not a real file or directory
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>
